<section ng-controller="MainCtrl as main">

  <%= render 'header' %>
  <%= render 'line_and_flash' %>

  <div id="content-app">

    <%= render 'users' %>
    <%= render 'projects' %>
    <%= render 'show_info' %>

  </div>

</section>
