<h1>Page#index</h1>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
  <%= link_to 'Skills', skills_path %>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
<form class="search ng-pristine ng-valid"><input type="text" ng-model="criteria" placeholder="Look for your HackMate" class="ng-pristine ng-valid"> <input type="image" ng-click="searchPostings()"></form>

<%= link_to 'Add Project', new_project_path %>

<section ng-controller="MainCtrl">
<ul>

</ul>
</section>

<br>
<% @projects.each do |project| %>
  <%= project.name %>
  <%= link_to 'Edit', edit_project_path(project) %>
<% end %>
