Total skills in user: <%= @user_skills.count %> <br>
<% @user_skills.each do |skill| %>
  <%= skill.skill %> <br>
<% end %>

<br>

<%= button_to 'Add new skill', new_edit_skill_path, method: :get, remote: true %>

Description: <br>
<%= text_area_tag 'info', @info %>
<p><%= button_tag "Update info" %></p>